html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.row {
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: 100%;
    float: left;
    padding: 10px;
}

.column.one-half {
    width: 50%;
}

.column.one-third {
    width: 33.3%;
}
.column.two-third {
    width: 66.6%;
}

.column.one-fourth {
    width: 25%;
}

.column.one-sixth {
    width: 16.6%;
}

.column.one-eighth {
    width: 12.5%;
}
