body {
    background-color: pink;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
}

nav a {
    height: 40px;
    text-align: center;
    display: block;
    width: 150px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 30px;
}

nav a:link {
    text-decoration: none;

}

nav a:visited {
    color: blue;
}

nav a:hover {
    background-color: cyan;
}

nav a:active {

}

