

h1 {
    text-decoration: overline underline;
    text-align: right;
}

h1:hover {
    color: salmon;
    text-align: left;
}

#wrapper {
    width: 500px;
    background-color: grey;
}

a:link {
   color: salmon;
}

a:visited {
    color: papayawhip;
}

a:hover {
    color: blue;
}

a:active {
    color: pink;
}
